textarea {
  color: #444; /* or whatever */
  background-color: transparent;
  margin: 0;
  border-radius: 0;
}
.backdrop {
  background-color: #fff;
  overflow: auto;
}

.highlights {
  color: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
}
mark {
  color: transparent;
  background-color: #d4e9ab;
}
